::ng-deep .dx-datagrid .dx-data-row>td.bullet {
    padding-top: 0;
    padding-bottom: 0;
}

::ng-deep .options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    margin-top: 20px;
}

 ::ng-deep .caption {
    font-size: 18px;
    font-weight: 500;
}

 ::ng-deep .option {
    width: 24%;
    display: inline-block;
    margin-top: 10px;
}