<body class="dx-viewport">
    <div class="demo-container">

        <dx-data-grid id="gridEntidades1" [dataSource]="listaUsuarios" [rowAlternationEnabled]="true" [columnHidingEnabled]="true" [columnAutoWidth]="true" keyExpr="id" (onRowInserting)="adicionarUsuario($event)" (onRowUpdated)="actualizarUsuario($event)" (onRowRemoving)="eliminarUsuarios($event)">
            <dxo-export [enabled]="true" fileName="Perfiles Registrados en el Sistema"></dxo-export>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-grouping [contextMenuEnabled]="true" expandMode="rowClick"></dxo-grouping>
            <dxo-group-panel [visible]="true" emptyPanelText=" "></dxo-group-panel>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
            <dxo-remote-operations [sorting]="true" [paging]="true">
            </dxo-remote-operations>
            <!-- <dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage"></dxo-state-storing> -->
            <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

            <dxo-editing mode="form" [allowAdding]="true" [allowDeleting]="true" [allowUpdating]="true">
                <dxo-texts addRow="Nuevo"></dxo-texts>
            </dxo-editing>
            <dxi-column dataField="id" [allowEditing]="false" caption="ID">
            </dxi-column>
            <dxi-column dataField="primerNombre" caption="primerNombre">
            </dxi-column>
            <dxi-column dataField="segundoNombre" caption="segundoNombre">
            </dxi-column>
            <dxi-column dataField="primerApellido" caption="primerApellido">
            </dxi-column>
            <dxi-column dataField="segundoApellido" caption="segundoApellido">
            </dxi-column>
            <dxi-column dataField="numeroIdentificacion" caption="numeroIdentificacion">
            </dxi-column>
            <dxi-column dataField="numeroCelular" caption="numeroCelular">
            </dxi-column>

            <dxi-column dataField="email" caption="email">
            </dxi-column>
            <dxi-column dataField="sexo" caption="sexo">
            </dxi-column>
            <dxi-column dataField="edad" caption="edad">
            </dxi-column>


            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 40]" [visible]="true" [showInfo]="true" [showNavigationButtons]="true"></dxo-pager>
        </dx-data-grid>

    </div>
</body>


<form ngNativeValidate #formCc="ngForm" class="form p-t-20">
    <div class="col-12">
        <label class="form-label">Nombres y Apellidos Completos</label>
        <input type="text" class="form-control" id="nombreApellidos">
    </div>

    <div class="col-12">
        <label class="form-label">Numero de Identificación</label>
        <input type="text" class="form-control" id="numeroIdentificacion">
    </div>
    <div class="col-12">
        <label class="form-label">Numero Celular</label>
        <input type="text" onkeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;" minlength="10" maxlength="10" class="form-control" id="nombreApellidos2" required>
    </div>


    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>

    <!-- <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
    </div> -->
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
</form>