

<div *ngIf='ocultarGrid'>
    <button (click)="mostrar()" type="button" class="btn btn-dark">Nuevo</button>
</div>

<div *ngIf='!ocultarGrid'>
    <button (click)="mostrarNuevo()" type="button" class="btn btn-dark">Regresar</button>
</div>


<div *ngIf="ocultarGrid">
    <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
            1 of 3
          </div>
          <div class="col-md-auto">
            Variable width content
          </div>
          <div class="col col-lg-2">
            3 of 3
          </div>
        </div>
        <div class="row">
          <div class="col">
            1 of 3
          </div>
          <div class="col-md-auto">
            Variable width content
          </div>
          <div class="col col-lg-2">
            3 of 3
          </div>
        </div>
      </div>
  </div>

  <div *ngIf='!ocultarGrid'>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword">
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-3">
            <label for="inputPassword" class="col-form-label">Seleccione numero en ingles</label>
        </div>
        


        <div class="col-sm-9">
            <select class="form-select" aria-label="Disabled select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        
      </div>
  </div>
  
  
  
